{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>
{% block title %} {% endblock %}
</title>
{% block styles %}
<link rel='stylesheet' type='text/css' media='screen'
href="{% static 'css/base.css'%}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/bootstrap-icons.min.css" rel="stylesheet">

 {% endblock %}
</head>
<style>
    body{
        background-color: rgb(255, 255, 255);
    }
    .myform button{
        color: rgb(7, 7, 7);
        width: 120px;
        height: 40px;
        border-radius: 10px;
        font-weight: bold;
        margin-right: 10px;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
              </svg> Commerce Electronique </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/magasin/">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer" href="{% url 'nouveauFour' %}">Fournisseur</a>                    </li>
                    <li class="nav-item">
                        <a href="{% url 'nouveauCde' %}" class="nav-link cursor-pointer"> Commande</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog/"> BLog</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/jeux">Jeux</a>
                      </li>
                </ul>
                
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
                
            </div>
        </div>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active">
            <a class="nav-link" href="#">{{user}},</a>
            </li> 
                <li class="nav-item">
        <form method="post" action="{% url 'logout' %}" class="myform">
          {% csrf_token %}
          <button class="btn btn-secondary" type="submit">Logout</button>
          
        </form>
      </li>
            {% else %}
<li class="nav-item active">
<a class="nav-link" href="{% url 'login' %}">Connexion</a>
<a class="nav-link" href="{% url 'register' %}"> S'inscrire </a>
</li>
<small>
Pas encore inscrit.e?
{% endif %}
</ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>