{% extends 'magasin/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container{
        margin-top: 20px;
        /* border: 2px solid black; */
    }
    h1{
        background-color: rgb(223, 220, 223);
        width: 450px;
        height: 100px;
        border-radius: 10px;
        border: 4px solid black;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        padding-top: 20px;
    }
   
    
</style>
<body>
    <h1>Produits Alimentaires</h1>
    <div class="back">
        <div class="container">
            <div style="overflow:scroll; border:#000000 1px solid;">
                <table>
                    <tr>
                        {% for article in list %}
                        <td>
                            <img src="/media/{{article.Img}}" width="180px" height="150px">
                            <figcaption class="figure-caption">
                                {{article.libelle}}
                            </figcaption>
                            <p> {{article.prix}} DT. </p>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        <div class="container">
            <div style="overflow:scroll; border:#000000 1px solid;">
                <table>
                    <tr>
                        {% for article in list %}
                        <td>
                            <img src="/media/{{article.Img}}" width="180px" height="150px">
        
                            <figcaption class="figure-caption">
                                {{article.libelle}}
                            </figcaption>
                            <p> {{article.prix}} DT. </p>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        <div class="container">
            <div style="overflow:scroll; border:#000000 1px solid;">
                <table>
                    <tr>
                        {% for article in list %}
                        <td>
                            <img src="/media/{{article.Img}}" width="180px" height="150px">
        
                            <figcaption class="figure-caption">
                                {{article.libelle}}
                            </figcaption>
                            <p> {{article.prix}} DT. </p>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}